<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/styles.css"/>
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <title>Library</title>
</head>

<body>
    @* Navbar *@
    <partial name="~/Views/Shared/_navbar.cshtml" />

    @* Body *@
    @RenderBody()

    @* Footer *@
    <partial name="~/Views/Shared/_footer.cshtml" />

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>

