<main class="main-section">
    <div class="container">
        <div class="news-container">
            <div class="news-caption">
                <h2>NEWS</h2>
            </div>
            <div class="news">
                <div class="news-side">
                    <ul class="news-items">
                        <li class="news-item">
                            <a href="#"><p>Announcement</p></a>
                        </li>
                        <li class="news-item">
                            <a href="#"><p>All News</p></a>
                        </li>
                        <li class="news-item">
                            <a href="#"><p>All News</p></a>
                        </li>
                        <li class="news-item">
                            <a href="#"><p>All News</p></a>
                        </li>
                        <li class="news-item">
                            <a href="#"><p>All News</p></a>
                        </li>
                        <li class="news-item">
                            <a href="#"><p>All News</p></a>
                        </li>
                    </ul>
                </div>
                <div class="news-main">
                    <div id="carouselExampleIndicators" class="carousel slide" style="max-height:100%" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                        </div>
                        <div class="carousel-inner">
                            <a asp-controller="Home" asp-action="List" class="carousel-item active">
                                <img src="~/images/new3.jpg" class="d-block w-100">
                                <div class="carousel-caption top-caption">
                                    <h1 class="opacity-75">LOREM IPSUM</h1>
                                </div>
                            </a>
                            <a asp-controller="Home" asp-action="List" class="carousel-item">
                                <img src="~/images/new.jpg" class="d-block w-100">
                                <div class="carousel-caption top-caption">
                                    <h2>Lorem Ipsum</h2>
                                    <p class="fs-5">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                    <p class="fs-5">
                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                                    </p>

                                </div>
                            </a>
                            <a asp-controller="Home" asp-action="List" class="carousel-item">
                                <img src="~/images/new1.jpg" class="d-block w-100">
                                <div class="carousel-caption top-caption">
                                    <h2>Lorem Ipsum</h2>
                                    <p class="fs-5">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                            </a>
                            <a asp-controller="Home" asp-action="List" class="carousel-item">
                                <img src="~/images/new2.jpeg" class="d-block w-100">
                                <div class="carousel-caption top-caption">
                                    <h2>Lorem Ipsum</h2>
                                    <p class="fs-5">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                            </a>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <p style="font-size: 1.2rem; margin: 3rem 0 3rem 0; background-color: lightgray; padding: 2rem;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pellentesque dolor a lorem dictum porttitor. Praesent ac auctor arcu, vitae lobortis sapien. Aliquam feugiat, ante eu tempus rhoncus, ligula turpis pretium diam, eu eleifend nisl ex quis ante. Donec non felis sit amet sem dignissim aliquam ut a nulla. Mauris quam est, scelerisque ut massa eu, pharetra elementum metus. Vestibulum mi justo, venenatis a vestibulum ac, finibus vitae ante. In placerat volutpat sem ac aliquam. Curabitur non dui sapien. Suspendisse id orci vitae orci aliquet suscipit. Etiam at condimentum odio. Suspendisse condimentum eu tortor ut dignissim. Cras lectus risus, maximus at augue in, sollicitudin accumsan est. Aenean auctor mi dolor, a egestas ipsum blandit quis. 
        </p>
    </div>
</main>



